{% extends "layouts/main.html" %}
{% set title = "Your complaint" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        {{ govukTextarea({
          name: "occurrence-details",
          id: "occurrence-details",
          hint: {
            html: "<p>Tell us briefly about your complaint.</p><p>The Building Safety Regulator deals only with risks to the building involving spread of fire and structural failure. If you have a complaint about the general maintenance of the building, for example, external decor, or cleanliness of common parts, contact an accountable person, such as the building’s landlord or management company.</p><p>If you have already complained to an accountable person, you can tell us who that is later in this service.</p><p>Next we will ask if you have any supporting information to upload, such as documents or photos.</p>"
          },
          label: {
            text: title,
            classes: "govuk-label--l",
            isPageHeading: true
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
