{% extends "layouts/main.html" %}
{% set title = "Scope of BSR" %}
{% set serviceName = "Contact the Building Safety Regulator" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">
        <h1 class="govuk-heading-l">{{ title }}</h1>

        <p>remind the user about fire spread and structual safety before complaining</p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
