{% extends "layouts/main.html" %}

{% if data['enquiry-about'] == "mor" %}
  {% set type = "occurrence report"  %}
  {% set fallbackDesc = "I want to make a mandatory occurrence report" %}  
{% elif data['enquiry-about'] == "advice" %}
  {% set type = "request for advice" %}
  {% set fallbackDesc = "I want advice about a high-rise residential building" %}  
{% else %}
  {% set type = "complaint"  %}
  {% set fallbackDesc = "I want to make a complaint" %}  
{% endif %}


{% set title = type | capitalize + " received" %}


{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">{{title}}</h1>
        <div>We've received your {{ type }} about [building address]</div>
        <div class="govuk-panel__body">
          Reference number<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <p>We have sent you a confirmation email.</p>


      <h2 class="govuk-heading-m">What happens next</h2>
      <p>Once we have evaluated your {{ type }}, we will tell you what action we are going to take. This may take up to 21 working days{% if data["enquiry-about"] == "advice" %} if we have to consult building safety experts {% endif %}.</p>
      {% if data['enquiry-about'] == "complaint" %}
        <p>All {{ type }}s will be evaluated by BSR whether named or anonymous.</p>
      {% endif %}
      <p><a href="">Back to BSR</a></p>
      <mark>add research link here</mark>
    </div>
  </div>

{% endblock %}
