{% extends "layouts/main.html" %}
{% set title = "Building height" %}
{% set serviceName = "Contact the Building Safety Regulator" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">

        <h1 class="govuk-heading-l">{{title}}</h1>
        <p>Measure the height in metres from ground level to the top floor.</p>
        <p>Do not measure the roof, unless there is a residential unit on it.</p>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with ground level
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>Ground level is the level of land immediately next to. If that land is uneven, count from the lowest part of the land immediately next to.</p>
          </div>
        </details>

        {{ govukInput({
          label: {
            text: "Height in metres",
            isPageHeading: false,
            classes: "govuk-label--s"
          },
          hint: {
            text: "For example, '18.75'."
          },
          id: "building-height",
          name: "building-height",
          classes: "govuk-input--width-4",
          suffix: {
            text: "m"
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
