{% extends "layouts/main.html" %}
{% set title = "Mandatory occurrence notice received" %}
{% set serviceName = "Submit a mandatory occurrence notice and report" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">{{title}}</h1>
        <div class="govuk-panel__body">
          Reference <br><strong>HDJ2123F</strong>
        </div>
      </div>

      <p>We have sent you a confirmation email that includes your safety occurrence reference.</p>
      
      <p>You must submit a full mandatory occurrence report within 10 calendar days of the occurrence being identified. Use your mandatory occurrence notice reference number when submitting your report.</p>

      <p>You can <a href="print-notice">save or print your notice and the information in it as a PDF</a></p>

      <h2 class="govuk-heading-m">To submit your full mandatory occurence report now</h2>
      <p><a href="start">Return to the service start page</a></p>

    </div>
  </div>
{% endblock %}