{% extends "layouts/main.html" %}
{% set title = "Review your supporting information" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{title}}</h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Upload 1"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Remove",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Upload 1"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Remove",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
        ]
      }) }}

      <p><a href="/sprint-4/supporting-information/upload-supporting-info">Add more supporting information</a></p>

      <form action="" method="post" novalidate>


        {{ govukButton({
          text: "Continue"
        }) }}



      </form>

    </div>
  </div>

{% endblock %}
