{% extends "layouts/main.html" %}
{% set title = "Cookies on " + serviceName + " service" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
        <h1 class="govuk-heading-xl">
          {{ title }}
        </h1>

        <p>Cookies are small files saved on your phone, tablet or computer when you visit a website.</p>

        <p>We use cookies to make this site work and collect information about how you use our service.</p>

        <h2 class="govuk-heading-l">Cookie settings</h2>
        
        {% set cookieHint %}
          <p>We use Google Analytics to measure how you use the {{ serviceName }} service so we can improve it based on user needs. Google Analytics sets cookies that store anonymised information about:</p>
          
          <ul class="govuk-list govuk-list--bullet">
            <li>how you got to the service</li>
            <li>the pages you visit on the service, and how long you spend on each page</li>
            <li>what you click on while you’re using the service</li>
          </ul>
          <p>We do not allow Google to use or share the data about how you use this site.</p>
        {% endset %}
        
        {{ govukRadios({
            name: "functional-cookies",
            fieldset: {
              legend: {
                text: "Cookies that measure website use",
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              html: cookieHint
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No",
                checked: true
              }
            ]
          }) }}

          <h2 class="govuk-heading-l">Strictly necessary cookies</h2>

          <p>These essential cookies do things like remember your progress through the application form.</p>

          <p>They always need to be on.</p>

          <p><a href="cookie-details">Find out more about cookies on the {{ serviceName }} service</a></p>

           
        {{ govukButton({
          text: "Save changes"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
