{% extends "layouts/main.html" %}

{% block header %}
<div class="email-heading"><p class="govuk-heading-m">Email template</p></div>
{% endblock %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style>
body.govuk-template__body {
  background-color: lightgrey;
}

.email-heading {
  height: 70px;
  background-color: black;
  width: 1040px;
  margin: auto;
}

.email-heading p {
  color: white;
  padding: 20px 40px 20px 40px;
  
}

.govuk-width-container {
  //max-width: 800px;
  background-color: white;
  padding: 0 40px 40px 40px;
}
  
</style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Mandatory occurrence notice received</h1>
 
      <p>We have received your mandatory occurrence notice.</p>

      <h2 class="govuk-heading-m">Reference number</h2>

      <p>HDJ2123F</p>
      
      <h2 class="govuk-heading-m">What happens next</h2>

      <p>You must submit a mandatory occurrence report after submitting your notice and within 10 calendar days of identifying the safety occurrence.</p>

      <h2 class="govuk-heading-m">What you need for your report</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>your mandatory occurrence notice reference number</li>
        <li>the building registration application reference or address if the building is occupied</li>
        <li>the building control application reference number if the building is in design or construction and construction work has started</li>
        <li>your contact details, the name of your organisation and their involvement in the building</li>
        <li>the safety occurrence you are reporting and when and how you became aware of it</li>
        <li>what happened, or has the potential of happening</li>
        <li>who is involved and the effect on them</li>
        <li>what you have done and plan to do to keep people safe</li>
        <li>for any supporting information, such as documents, videos or photos</li>
      </ul>

      <p><a href="start">Submit your mandatory occurrence report</a></p>

      <p>BSR is open Monday to Friday from 8.30am to 5pm, except Wednesdays when we are open from 10am to 5pm.</p>

      <p>BSR customer service team</p>

    </div>
  </div>

{% endblock %}

{% block footer %}
{% endblock %}