{% extends "layouts/main.html" %}
{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
        <h1 class="govuk-heading-xl">
          {% if serviceName %} {{ serviceName }} {% endif %}
        </h1>

        <p>Anyone can use this service to</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>ask a question to the Building Safety Regulator (BSR)</li>
          <li>make a complaint to BSR</li>
        </ul>
 
        <p>You can contact BSR about</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="">buildings BSR regulates</a></li>
          <li><a href="">people and organisations BSR regulates, for example, building inspectors</a></li>
          <li><a href="">the regulations BSR is responsible for</a>, for example the operational standards rules for building control bodies.</li>
        </ul>

        <p>If you’re a resident or member of the public and you want to complain about an occupied building, first make your complaint to an accountable person for the building. For example, the building’s landlord or management company. Use this service if you cannot approach the accountable person or they have not dealt with your issue.</p>

        <h2 class="govuk-heading-m">When not to use this service</h2>

        <p>Do not use this service to report concerns about anti-social behaviour or the general maintenance of a building, for example, external decor, or cleanliness. Report these issues to your landlord or management company.</p>

        <p>If you are unhappy with the behaviour of building contractors during the construction of a building, raise this complaint with the principal contractor.</p>

        <h2 class="govuk-heading-m">If you can’t use this service</h2>

        <p>If you cannot use the online service, call BSR on 0300 790 6787. BSR is open Monday to Friday from 8.30am to 5pm, except Wednesdays when we are open from 10am to 5pm.</p>

        <p>A translation service is available if you would prefer to speak in a language other than English.</p>

        {{ govukButton({
          text: "Start now",
          isStartButton: true
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
