{% extends "layouts/main.html" %}
{% set title = "Have you complained about this issue to an accountable person?" if data['request-about-what'] == "building" else "Have you complained about this issue to the person or organisation before?" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">
        <span class="govuk-caption-l">About the complaint</span>

        {% set notContactedAP %}
          {{ govukInput({
            label: {
              text: "Tell us why you didn't contact them",
              classes: "govuk-label--s"
            },
            id: "width-20",
            name: "width-20"
          }) }}
        {% endset %}

        {% set hintLine = "The Building Safety Regulator will review your complaint even if you have not contacted an accountable person." if data['request-about-what'] == "building" else "The Building Safety Regulator will review your complaint even if you have not contacted the person or organisation before." %}

        {% set hint %}
          <p>For example, the landlord or management company.</p>
          <p>{{ hintLine}}</p>
        {% endset %}

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "contacted-ap",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: hint
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No",
              conditional: {
                html: notContactedAP
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
