{% extends "layouts/main.html" %}
{% set title = "Who did you contact?" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        {% call govukFieldset({
          legend: {
            text: title,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}
          {{ govukInput({
            label: {
              text: 'Full name or organisation name'
            },
            id: "ap-name",
            name: "ap-name",
            classes: "govuk-input--width-20"
          }) }}

          {{ govukInput({
            label: {
              text: 'Email (optional)'
            },
            id: "ap-email",
            name: "ap-email",
            classes: "govuk-input--width-20"
          }) }}

          {{ govukInput({
            label: {
              text: 'Phone (optional)'
            },
            id: "ap-phone",
            name: "ap-phone",
            classes: "govuk-input--width-20"
          }) }}

          {{ govukInput({
            label: {
              text: 'Address (optional)'
            },
            id: "ap-address",
            name: "ap-address",
            classes: "govuk-input--width-20"
          }) }}
        {% endcall %}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
