{% extends "layouts/main.html" %}
{% set title = "Who did you contact?" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        {% call govukFieldset({
          legend: {
            text: title,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}
          {{ govukInput({
            label: {
              text: 'Full name'
            },
            id: "address-line-1",
            name: "address-line-1",
            classes: "govuk-input--width-20"
          }) }}

          {{ govukInput({
            label: {
              text: 'What do you believe is their relationship to the building?'
            },
            hint: {
              text: "For example, are they the landlord, owner or construction contractor?"
            },
            id: "address-line-2",
            name: "address-line-2",
            classes: "govuk-input--width-20"
          }) }}

          {{ govukInput({
            label: {
              text: 'Email (optional)'
            },
            hint: {
              text: "For example, are they the landlord, owner or construction contractor?"
            },
            id: "address-line-2",
            name: "address-line-2",
            classes: "govuk-input--width-20"
          }) }}

          {{ govukInput({
            label: {
              text: 'Phone (optional)'
            },
            hint: {
              text: "For example, are they the landlord, owner or construction contractor?"
            },
            id: "address-line-2",
            name: "address-line-2",
            classes: "govuk-input--width-20"
          }) }}

          {{ govukInput({
            label: {
              text: 'Address (optional)'
            },
            hint: {
              text: "For example, are they the landlord, owner or construction contractor?"
            },
            id: "address-line-2",
            name: "address-line-2",
            classes: "govuk-input--width-20"
          }) }}
        {% endcall %}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
