{% extends "layouts/main.html" %}
{% set title = "Mandatory occurrence report received" %}
{% set serviceName = "Notify BSR of a mandatory occurrence" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">{{title}}</h1>
        <div class="govuk-panel__body">
          Reference number<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <p>We have sent you a confirmation email that includes your reference number and your submission.</p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>We will review your mandatory occurrence report and contact you with an answer. This may take up to 21 working days.


    <!--  <p>Once we have evaluated your occurrence report, we will tell you what action we are going to take. This may take up to 21 working days if we have to consult building safety experts.</p>
      <p>All occurrence reports will be evaluated by BSR.</p>-->
    </div>
  </div>
{% endblock %}
