{% extends "layouts/main.html" %}
{% set title = "Tell us how to find your building"  %}
{% set serviceName = "Submit a mandatory occurrence notice and report" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">
        <span class="govuk-caption-l">About the building</span>
        {{ govukTextarea({
          name: "building-location",
          id: "building-location",
          label: {
            text: title,
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "If your building doesn't have an address or has not been identified by BSR, then tell us the closest address or enter a grid reference"
          }
        }) }}
      
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
