{% extends "layouts/main.html" %}
{% set serviceName = "Make a mandatory occurrence report" %}
{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

  {% set html %}
    <p class="govuk-body">We’d like to use analytics cookies so we can understand how you use this site.</p>
    <p class="govuk-body">We also use essential cookies to remember if you’ve accepted analytics cookies.</p>
  {% endset %}

  {% set acceptHtml %}
    <p class="govuk-body">You’ve accepted analytics cookies. You can <a class="govuk-link" href="cookies">change your cookie settings</a> at any time.</p>
  {% endset %}

  {% set rejectHtml %}
    <p class="govuk-body">You’ve rejected analytics cookies. You can <a class="govuk-link" href="cookies">change your cookie settings</a> at any time.</p>
  {% endset %}

    {{ govukCookieBanner({
      classes: "js-cookies-banner",
      messages: [
        {
            headingText: "Cookies on " + serviceName,
            html: html,
            actions: [
                {
                    text: "Accept analytics cookies",
                    type: "button",
                    classes: "js-cookies-button-accept"
                },
                {
                    text: "Reject analytics cookies",
                    type: "button",
                    classes: "js-cookies-button-reject"
                },
                {
                    text: "View cookie preferences",
                    href: "cookies"
                }
            ],
            classes: "js-question-banner"
        },
        {
            html: acceptHtml,
            role: "alert",
            actions: [
                {
                    text: "Hide cookie message",
                    type: "button",
                    classes: "js-hide"
                }
            ],
            classes: "js-cookies-accepted",
            hidden: true
        },
        {
            html: rejectHtml,
            role: "alert",
            actions: [
                {
                    text: "Hide cookie message",
                    type: "button",
                    classes: "js-hide"
                }
            ],
            classes: "js-cookies-rejected",
            hidden: true
        }
    ]
    }) }}



  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
        <h1 class="govuk-heading-xl">
          {% if serviceName %} {{ serviceName }} {% endif %}
        </h1>

        <p>Use this service to make a mandatory occurrence report (MOR) to the Building Safety Regulator (BSR).</p>

        <p>Make an MOR if you are:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>an accountable person (AP) or principal accountable person (PAP)</li>
          <li>principal contractor or principal designer.</li>
        </ul>

        <p>If you are an AP or PAP, you must make a MOR for an occupied building in the event of a safety occurrence which risks structural failure or spread of fire.</p>

        <p>If you are a principal contractor or principal designer, you must make an MOR in the event of a safety occurrence which risks fire safety or structural failure when a building is under construction or in design.</p>

        <p>You commit a criminal offence if you do not make a MOR within 10 days of becoming aware of an occurrence.</p>

        <p><a href="">Read the guidance on what occurrences should be reported. (opens in a new tab)</a></p> 

        <p>If you are responsible for a building, and you consider a MOR should have been made, but has not, you should <a href="">make a complaint to BSR</a>.</p>

        <h2 class="govuk-heading-m">If you can’t use this service</h2>

        <p>If you cannot use the online service, call BSR on <a href="tel:0300 790 6787">0300 790 6787</a> and we'll complete it for you. BSR is open Monday to Friday from 8.30am to 5pm, except Wednesdays when we are open from 10am to 5pm.</p>

        <p>A translation service is available if you would prefer to speak in a language other than English.</p>

        {{ govukButton({
          text: "Start now",
          isStartButton: true
        }) }}

      </form>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}

  <script>
    var acceptButton = document.querySelector('.js-cookies-button-accept')
    var rejectButton = document.querySelector('.js-cookies-button-reject')

    var acceptedBanner = document.querySelector('.js-cookies-accepted')
    var rejectedBanner = document.querySelector('.js-cookies-rejected')
    var questionBanner = document.querySelector('.js-question-banner')
    var cookieBanner = document.querySelector('.js-cookies-banner')

    function showBanner(banner) {
        questionBanner.setAttribute('hidden', 'hidden')
        banner.removeAttribute('hidden')

        // Shift focus to the banner
        banner.setAttribute('tabindex', '-1')
        banner.focus()

        banner.addEventListener('blur', function () {
            banner.removeAttribute('tabindex')
        })
    }

    acceptButton.addEventListener('click', function (event) {
        showBanner(acceptedBanner)
        event.preventDefault()
    })

    rejectButton.addEventListener('click', function (event) {
        showBanner(rejectedBanner)
        event.preventDefault()
    })

    acceptedBanner.querySelector('.js-hide').addEventListener('click', function() {
      cookieBanner.setAttribute('hidden', 'hidden')
    })

    rejectedBanner.querySelector('.js-hide').addEventListener('click', function() {
      cookieBanner.setAttribute('hidden', 'hidden')
    })
  </script>

{% endblock %}