{% extends "layouts/main.html" %}
{% set title = "Only certain roles are allowed to submit a mandatory occurrence report" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
        <h1 class="govuk-heading-l">{{ title }}</h1>
        <p>Roles:
        <ul class="govuk-list govuk-list--bullet">
          <li>Principal accountable person</li>
          <li>Accountable person</li>
          <li>Principal designer</li>
          <li>Principal contractor</li>
        </ul>
      </form>
    </div>
  </div>

{% endblock %}
