{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
        <h1 class="govuk-heading-xl">
          {% if serviceName %} {{ serviceName }} {% endif %}
        </h1>

        <p>Use this service to contact the Building Safety Regulator (BSR) to</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>get advice</li>
          <li>make a complaint</li>
          <li>make a mandatory occurrence report (MOR).</li>
        </ul>
        
        <p>Anyone can get advice from BSR or make a complaint. Only specific people can make an MOR.</p>

        <p>You can contact BSR about a building from when it is being designed or constructed as well as when it is in use and occupied.</p>

        <p>BSR regulates only specific risks to building safety, involving: </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>structural failure</li>
          <li>spread of fire</li>
        </ul>

        {{ govukWarningText({
          text: "Do not contact BSR if you see a building on fire or collapsing. Call the emergency services on 999.",
          iconFallbackText: "Warning"
        }) }}

        <h2 class="govuk-heading-m">Get advice from BSR</h2>
 
        <p>Anyone can use this service to get advice from BSR. For example: </p>

        <ul class="govuk-list govuk-list--bullet">
          <li><mark>[Resident example here]</mark></li>
          <li><mark>[AP example here]</mark></li>
        </ul>

        <h2 class="govuk-heading-m">Complain to BSR</h2>

        <p>Anyone can use this service to complain to BSR. For example:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><mark>[Resident example here]</mark></li>
          <li><mark>[AP example here]</mark></li>
        </ul>


        <p>If you’re a resident or member of the public, first make your complaint to an accountable person for the building, for example, the building’s landlord or management company.</p>

        <p>Use this service to complain about risks involving structural failure or spread of fire which have not been dealt with by the accountable person you reported them to.</p>

        <h2 class="govuk-heading-m">Make an MOR</h2>

        <p>Make an MOR to BSR if you are:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>an accountable person (AP) or principal accountable person (PAP)</li>
          <li>principal contractor or designer. </li>
        </ul>

        <p>If you are another accountable or responsible person for a building, and you consider a MOR should have been made but has not, you can make a complaint to BSR using this service.</p>

        <h2 class="govuk-heading-m">When not to use this service</h2>

        <p>Do not use this service to report concerns about the general maintenance of a building, for example, external decor, or cleanliness of common parts. Report these issues to an accountable person, such as the building’s landlord or management company.</p>

        <p>If you are unhappy with the behaviour of building contractors during the construction of a building, raise this complaint with the principal contractor.</p>

        <h2 class="govuk-heading-m">If you cannot use this service</h2>

        <p>If you cannot use the online service, call BSR on 0300 790 6787 and we'll complete it for you. BSR is open Monday to Friday from 8.30am to 5pm, except Wednesdays when we are open from 10am to 5pm.</p>


        {{ govukButton({
          text: "Start now",
          isStartButton: true
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
