{% extends "layouts/main.html" %}
{% set title = "Notice details" %}
{% set serviceName = "Submit a mandatory occurrence notice and report" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">
        <span class="govuk-caption-l">Your mandatory occurrence notice</span>

        <h1 class="govuk-heading-l">{{ title }}</h1>

        {{ govukCharacterCount({
          name: "occurrence-summary",
          id: "occurrence-summary",
          maxlength: 500,
          label: {
            text: "Briefly describe the single incident",
            classes: "govuk-label--m",
            isPageHeading: false
          }
        }) }}

        {{ govukCharacterCount({
          name: "occurrence-summary",
          id: "occurrence-summary",
          maxlength: 500,
          label: {
            text: "Describe what have you done to mitigate the risk",
            classes: "govuk-label--m",
            isPageHeading: false
          }
        }) }}

        <p>You must submit a full mandatory occurrence report within 10 days of the occurrence being identified.</p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
