{% extends "layouts/main.html" %}
{% set title =  "When did you identify the single incident?" %}
{% set serviceName = "Submit a mandatory occurrence notice and report" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">
        <span class="govuk-caption-l">Your mandatory occurrence notice</span>
        {{ govukDateInput({
          id: "occurrence-date",
          namePrefix: "occurrence-date",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: "Be as accurate as you can. For example, 27 05 2023"
          }
        }) }}

        {{ govukInput({
            label: {
              text: 'Time',
              classes: 'govuk-label--s'
            },
            hint: {
              text: "This can be an estimate. For example, 12:00"
            },
            id: "occurrence-time",
            name: "occurrence-time",
            classes: "govuk-input--width-4"
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
