{% extends "layouts/main.html" %}
{% set title = "Your contact details" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">
        <span class="govuk-caption-l">About you</span>
        {% call govukFieldset({
          legend: {
            text: title,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
          
        }) %}
        {% if data['enquiry-about'] == "complaint" %}
        <p>We need your contact details so we can tell you what we are doing about your complaint.</p>
        {% endif %}
          {{ govukInput({
            label: {
              text: 'Contact number'
            },
            id: "contact-number",
            name: "contact-number",
            classes: "govuk-input--width-20"
          }) }}
          {{ govukInput({
            label: {
              text: 'Contact email'
            },
            id: "contact-email",
            name: "contact-email",
            classes: "govuk-input--width-20"
          }) }}
        {% endcall %}

        {% if data['enquiry-about'] == "complaint" %}
          {{ govukRadios({
          name: "share-contact-with-ap",
          fieldset: {
            legend: {
              text: "Can we share your details with the accountable person or organisation you are complaining about?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, the landlord or management company"
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        {% endif %}
        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
