{% extends "layouts/main.html" %}
{% set title = "The role of your organisation" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">
        {% set otherDutyHolder %}
          {{ govukInput({
            id: "other-duty-holder",
            name: "other-duty-holder",
            classes: "govuk-!-width-one-third",
            label: {
              text: "Your organisations role"
            }
          }) }}
        {% endset -%}

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "building-relationship",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "We need to know this so we can direct your enquiry to the right people in Building Safety Regulator"
          } if data["enquiry-about"] == "advice",
          hint: {
            text: "If you are submitting an MOR as an individual, not on behalf of an organisation, select your role."
          } if data["enquiry-about"] == "mor",
          items: [
            {
              value: "principle accountable person",
              text: "Principle accountable person or accountable person"
            },
            {
              value: "principal contractor ",
              text: "Principal contractor"
            },
            {
              value: "principal designer",
              text: "Principal designer"
            },
            {
              value: "other",
              text: "Other",
              conditional: {
                html: otherDutyHolder
              }
            },
            {
              value: "resident",
              text: "Resident or member of the public"
            } if data["request-advice"] != mor
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
