{% extends "layouts/main.html" %}
{% set title = "What is your reason for contacting the Building Safety Regulator (BSR)?" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">


        {{ govukRadios({
          name: "enquiry-about",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "complaint",
              text: "I want to make a complaint to the Building Safety Regulator (BSR)"
            },
            {
              value: "advice",
              text: "I want to ask BSR for advice"
            }
          ]
        }) }}

        <p>If you’re a resident or member of the public, first make your complaint to an accountable person for the building, for example, the building’s landlord or management company.</p>
        <p>You should use this service only to complain about risks involving structural failure or spread of fire, and only if the accountable person you reported them to has not dealt with them.</p>
        <p>You can contact BSR about a building from when it is being designed or constructed as well as when it is in use and occupied.</p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
