{% extends "layouts/main.html" %}
{% set title = " The Building Safety Regulator currently operates only in England" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">
        <h1 class="govuk-heading-l">{{ title }}</h1>
        <p>The Regulator does not currently require you to register buildings in Scotland or Wales. Look out for further announcements about when and how to register buildings in these countries.</p>

        <p>If the building you want to register or need help with is in England, use the ‘back’ function to return to the question ‘Which part of the UK is your issue in?’ and select ‘England’ from the options, then proceed.</p>

      </form>

    </div>
  </div>

{% endblock %}
