{% extends "layouts/main.html" %}
{% set title = "The Building Safety Regulator operates only in England" %}
{% set serviceName = "Submit a mandatory occurrence notice and report" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post"><span class="govuk-caption-l">About the building</span>
        <h1 class="govuk-heading-l">{{ title }}</h1>
        <p>You cannot use this service to submit a mandatory occurrence notice and report for a building that is not in England.</p>

        <p>If the building is in England, select ‘back’ and then select ‘England’ from the options.</p>

      </form>

    </div>
  </div>

{% endblock %}
