{% extends "layouts/main.html" %}
{% set title = "What is the name of the organisation you're acting for?" %}
{% set serviceName = "Submit a mandatory occurrence notice and report" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">
        <span class="govuk-caption-l">Organisation your acting for</span>
        {{ govukInput({
          label: {
            text: title,
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "For example, if you're a managing agent, this would be the name of your own end client"
          },
          id: "representing-contact-organisation",
          name: "representing-contact-organisation",
          classes: "govuk-input--width-20",
          value: data['representing-contact-organisation']
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
