{% extends "layouts/main.html" %}

{% block header %}
<div class="email-heading"><p class="govuk-heading-m">Email template</p></div>
{% endblock %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style>
body.govuk-template__body {
  background-color: lightgrey;
}

.email-heading {
  height: 70px;
  background-color: black;
  width: 1040px;
  margin: auto;
}

.email-heading p {
  color: white;
  padding: 20px 40px 20px 40px;
  
}

.govuk-width-container {
  //max-width: 800px;
  background-color: white;
  padding: 0 40px 40px 40px;
}
  
</style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Mandatory occurrence report - investigation launched</h1>

      <p>We have reviewed your mandatory occurrence report (MOR) about the risk of spread of fire due to faulty fire doors at the entrance to the south staircase on floors 3, 4 and 5 at Whitehall 2, LS1. We have launched an investigation.</p>

      <h2 class="govuk-heading-m">Reference number</h2>

      <p>HDJ2123F</p>

      <p>To investigate we will:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>gather facts and evidence</li>
        <li>identify immediate and underlying causes and lessons to be learned</li>
        <li>take actions to prevent recurrence</li>
        <li>identify any breaches of legislation</li>
        <li>consider appropriate enforcement.</li>
      </ul>

      <p>An investigation may range from an enquiry by a single inspector to a large enquiry involving a multidisciplinary team of inspectors. Other agencies may be involved, for example, other regulators or the police where there has been a death.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>I have passed your MOR to a multidisciplinary team of investigators who will visit Whitehall 2, LS1. I’ll remain your primary contact during the investigation.</p>

      <p>I will email you if we need more information from you.</p>

      <p>Meanwhile, if you need to contact us about your MOR, you can reply to this email, or call me on 0300 790 6787 quoting your reference number.</p>

      <p>BSR is open Monday to Friday from 8.30am to 5pm, except Wednesdays when we are open from 10am to 5pm.</p>

      <p>Ben Walker, BSR investigator</p>

    </div>
  </div>

{% endblock %}

{% block footer %}
{% endblock %}