{% extends "layouts/main.html" %}

{% block header %}
<div class="email-heading"><p class="govuk-heading-m">Email template</p></div>
{% endblock %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style>
body.govuk-template__body {
  background-color: lightgrey;
}

.email-heading {
  height: 70px;
  background-color: black;
  width: 1040px;
  margin: auto;
}

.email-heading p {
  color: white;
  padding: 20px 40px 20px 40px;
  
}

.govuk-width-container {
  //max-width: 800px;
  background-color: white;
  padding: 0 40px 40px 40px;
}
  
</style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Mandatory occurrence notice received</h1>
 
      <p>We have received your mandatory occurrence notice (MOR) at Whitehall 2, LS1.</p>

      <h2 class="govuk-heading-m">Reference number</h2>

      <p>HDJ2123F</p>
      
      <h2 class="govuk-heading-m">What happens next</h2>

      <p>We review all MORs.</p>

      <p>Once we have reviewed your MOR, we will email you to tell you what action we are going to take.</p>

      <p>If we decide to take enforcement action, we will:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>exercise our powers in line with regulatory best practice</li>
        <li>take a consistent and proportionate approach</li>
        <li>work closely with existing regulators such as local authorities and fire and rescue authorities</li>
      </ul>

      <p>We may take up 21 working days to review your MOR.</p>

      <p>If you don’t hear from us after 21 working days, or you want to add further information in support of your MOR, you can reply directly to this email or call BSR on 0300 790 6787 quoting your reference number.</p>

      <p>BSR is open Monday to Friday from 8.30am to 5pm, except Wednesdays when we are open from 10am to 5pm.</p>

      <p>BSR customer service team</p>

    </div>
  </div>

{% endblock %}

{% block footer %}
{% endblock %}