{% extends "layouts/main.html" %}

{% block header %}
<div class="email-heading"><p class="govuk-heading-m">Email template</p></div>
{% endblock %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style>
body.govuk-template__body {
  background-color: lightgrey;
}

.email-heading {
  height: 70px;
  background-color: black;
  width: 1040px;
  margin: auto;
}

.email-heading p {
  color: white;
  padding: 20px 40px 20px 40px;
  
}

.govuk-width-container {
  //max-width: 800px;
  background-color: white;
  padding: 0 40px 40px 40px;
}
  
</style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Mandatory occurrence report received</h1>
 
      <p>We have received your mandatory occurrence report (MOR) at Whitehall 2, LS1.</p>

      <h2 class="govuk-heading-m">Reference number</h2>

      <p>HDJ2123F</p>
      
      <h2 class="govuk-heading-m">What you told us</h2>

      <h3 class="govuk-heading-s">Risk or event</h3>
      <p>{{ data['risk-event'] | capitalize or "Risk"}} </p>
      
      <h3 class="govuk-heading-s">How are you or your organisation involved in this building?</p>
      <p>{{ data['reporter-role'] or "Principal accountable person" }}</p>
      
      <h3 class="govuk-heading-s">Occurrence date</h3>
      <p>{{ (data['occurrence-date-day'] or "10") + "-" + (data['occurrence-date-month'] or "05") + "-" + (data['occurrence-date-year'] or "2022") + " - " + (data['occurrence-time'] or "9am") }}</p>
      
      <h3 class="govuk-heading-s">What is the risk?</h3>
      <p>{{ data['occurrence-details-what'] or "Fire doors were incorrectly fitted" }}</p>
      
      <h3 class="govuk-heading-s">What caused it?</h3>
      <p>{{ data['occurrence-details-why'] or "The building contractor sourced an alternative product which was not to standard" }}</p>
      
      <h3 class="govuk-heading-s">Who could be affected and in what way?</h3>
      <p>{{ data['occurrence-details-who'] or "The whole building was affected including the common rooms" }}</p>
      
      <h3 class="govuk-heading-s">What have you done to keep people safe?</h3>
      <p>{{ data['occurrence-details-action'] or "We've replaced all the doors in the building and made a note on future designs to periodically check building contract" }}</p>

      <h3 class="govuk-heading-s">Who told your organisation</h3>
      <p>{{ data['occurrence-details-reporter'] or "We were informed by a 3rd party surveyor who completed an inspection of the building before occupation" }}</p>

      <h3 class="govuk-heading-s">Your supporting information</h2>
      <ul class="govuk-list">
        <li>image-1234.png</li>
        <li>email-screenshot.jpg</li>
        <li>further-details.doc</li>
      </ul>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>We review all MORs.</p>

      <p>Once we have reviewed your MOR, we will email you to tell you what action we are going to take.</p>

      <p>If we decide to take enforcement action, we will:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>exercise our powers in line with regulatory best practice</li>
        <li>take a consistent and proportionate approach</li>
        <li>work closely with existing regulators such as local authorities and fire and rescue authorities</li>
      </ul>

      <p>We may take up 21 working days to review your MOR.</p>

      <p>If you don’t hear from us after 21 working days, or you want to add further information in support of your MOR, you can reply directly to this email or call BSR on 0300 790 6787 quoting your reference number.</p>

      <p>BSR is open Monday to Friday from 8.30am to 5pm, except Wednesdays when we are open from 10am to 5pm.</p>

      <p>BSR customer service team</p>

    </div>
  </div>

{% endblock %}

{% block footer %}
{% endblock %}