{% extends "layouts/main.html" %}
{% set title = "Mandatory occurrence report received" %}
{% set serviceName = "Submit a mandatory occurrence notice and report" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">{{title}}</h1>
        <div class="govuk-panel__body">
          Reference number<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <p>We have sent you a confirmation email that includes your reference number and a copy of your submission.</p>

      <p>We will review your mandatory occurrence report and then contact you.</p>

      <p>You can <a href="print-report">print or save this page as a PDF</a></p>
      
    </div>
  </div>
{% endblock %}

          




      