{% extends "layouts/main.html" %}
{% set serviceName = "Submit a mandatory occurrence notice and report" %}
{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

  {% set html %}
    <p class="govuk-body">We’d like to use analytics cookies so we can understand how you use this site.</p>
    <p class="govuk-body">We also use essential cookies to remember if you’ve accepted analytics cookies.</p>
  {% endset %}

  {% set acceptHtml %}
    <p class="govuk-body">You’ve accepted analytics cookies. You can <a class="govuk-link" href="cookies">change your cookie settings</a> at any time.</p>
  {% endset %}

  {% set rejectHtml %}
    <p class="govuk-body">You’ve rejected analytics cookies. You can <a class="govuk-link" href="cookies">change your cookie settings</a> at any time.</p>
  {% endset %}

    {{ govukCookieBanner({
      classes: "js-cookies-banner",
      messages: [
        {
            headingText: "Cookies on " + serviceName,
            html: html,
            actions: [
                {
                    text: "Accept analytics cookies",
                    type: "button",
                    classes: "js-cookies-button-accept"
                },
                {
                    text: "Reject analytics cookies",
                    type: "button",
                    classes: "js-cookies-button-reject"
                },
                {
                    text: "View cookie preferences",
                    href: "cookies"
                }
            ],
            classes: "js-question-banner"
        },
        {
            html: acceptHtml,
            role: "alert",
            actions: [
                {
                    text: "Hide cookie message",
                    type: "button",
                    classes: "js-hide"
                }
            ],
            classes: "js-cookies-accepted",
            hidden: true
        },
        {
            html: rejectHtml,
            role: "alert",
            actions: [
                {
                    text: "Hide cookie message",
                    type: "button",
                    classes: "js-hide"
                }
            ],
            classes: "js-cookies-rejected",
            hidden: true
        }
    ]
    }) }}



  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
        <h1 class="govuk-heading-xl">
          {% if serviceName %} {{ serviceName }} {% endif %}
        </h1>

        <p>Use this service to submit both a mandatory occurrence notice and a mandatory occurrence report for higher-risk buildings, including high-rise residential buildings, to the Building Safety Regulator.</p>

        <p>You must submit a mandatory occurrence notice and report for safety occurrences in higher-risk buildings, including high-rise residential buildings, related to fire spread, fire safety or structural failure that resulted in, or are likely to result in:</p> 

        <ul class="govuk-list govuk-list--bullet">
          <li>the death of a significant number of people</li>
          <li>serious injury that needs immediate treatment in hospital for a significant number of people</li>
          <li>a permanent or irreversible disabling condition to a significant number of people</li>
        </ul>

        <p>Safety occurrences include both:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>an incident that has happened</li>
          <li>the risk of an incident happening in the future</li>
        </ul>

        <p>You must do this even if the safety occurrence is remedied immediately.</p>

        <p><a href="https://www.gov.uk/guidance/reporting-a-mandatory-occurrence">Read detailed guidance on safety occurrences that must be reported to the Building Safety Regulator.</a></p>

        <h2 class="govuk-heading-m">Who must submit a mandatory occurrence notice and report</h2>

        <p>Submit a mandatory occurrence notice and report if you are, or you are acting for:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>an accountable person or principal accountable person</li>
          <li>principal contractor or principal designer and construction work has started on the building</li>
        </ul>

        <h2 class="govuk-heading-m">Mandatory occurrence notice</h2>

        <p>You must submit a mandatory occurrence notice as soon as you can when a safety occurrence is identified, and before you submit your report.</p>

        <p>We will ask you to tell us:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>the high-rise residential building registration reference or the building control application reference</li>
          <li>your contact details</li>
          <li>the date and time the safety occurrence was identified</li>
          <li>a brief description of the safety occurrence</li>
          <li>any immediate actions you’ve taken since to keep people safe</li>
        </ul>

        <p>When you submit a mandatory occurrence notice, we will give you a reference number you can use to submit a mandatory occurrence report.</p>

        <h2 class="govuk-heading-m">Mandatory occurrence report</h2>

        <p>You must submit a mandatory occurrence report after submitting your notice and within 10 calendar days of identifying the safety occurrence.</p>

        <p>We will ask you to tell us:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>your mandatory occurrence notice reference</li>
          <li>who submitted the notice – if someone else submitted the notice, we will need your contact details</li>
          <li>the type of safety occurrence you are reporting</li>
          <li>what happened or has the potential of happening</li>
          <li>what caused the safety occurrence and how it was discovered</li>
          <li>who is involved and the effect or potential effect on them</li>
          <li>what you have done and plan to do to keep people safe</li>
          <li>anything you think should be shared for others to learn from</li>
          <li>any supporting information, such as documents, videos, or photos</li>
        </ul>

        <h2 class="govuk-heading-m">Get help using this service</h2>

        <p>If you cannot use the online service, call the Building Safety Regulator on 0300 790 6787. The Building Safety Regulator is open Monday to Friday from 8.30am to 5pm, except Wednesdays when we are open from 10am to 5pm.</p>

        <p>A translation service is available if you would prefer to speak in a language other than English.</p>


        {{ govukButton({
          text: "Start now",
          isStartButton: true
        }) }}

      </form>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}

  <script>
    var acceptButton = document.querySelector('.js-cookies-button-accept')
    var rejectButton = document.querySelector('.js-cookies-button-reject')

    var acceptedBanner = document.querySelector('.js-cookies-accepted')
    var rejectedBanner = document.querySelector('.js-cookies-rejected')
    var questionBanner = document.querySelector('.js-question-banner')
    var cookieBanner = document.querySelector('.js-cookies-banner')

    function showBanner(banner) {
        questionBanner.setAttribute('hidden', 'hidden')
        banner.removeAttribute('hidden')

        // Shift focus to the banner
        banner.setAttribute('tabindex', '-1')
        banner.focus()

        banner.addEventListener('blur', function () {
            banner.removeAttribute('tabindex')
        })
    }

    acceptButton.addEventListener('click', function (event) {
        showBanner(acceptedBanner)
        event.preventDefault()
    })

    rejectButton.addEventListener('click', function (event) {
        showBanner(rejectedBanner)
        event.preventDefault()
    })

    acceptedBanner.querySelector('.js-hide').addEventListener('click', function() {
      cookieBanner.setAttribute('hidden', 'hidden')
    })

    rejectedBanner.querySelector('.js-hide').addEventListener('click', function() {
      cookieBanner.setAttribute('hidden', 'hidden')
    })
  </script>

{% endblock %}