{% extends "layouts/main.html" %}
{% set serviceName = "Submit a mandatory occurrence notice and report" %}
{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

  {% set html %}
    <p class="govuk-body">We’d like to use analytics cookies so we can understand how you use this site.</p>
    <p class="govuk-body">We also use essential cookies to remember if you’ve accepted analytics cookies.</p>
  {% endset %}

  {% set acceptHtml %}
    <p class="govuk-body">You’ve accepted analytics cookies. You can <a class="govuk-link" href="cookies">change your cookie settings</a> at any time.</p>
  {% endset %}

  {% set rejectHtml %}
    <p class="govuk-body">You’ve rejected analytics cookies. You can <a class="govuk-link" href="cookies">change your cookie settings</a> at any time.</p>
  {% endset %}

    {{ govukCookieBanner({
      classes: "js-cookies-banner",
      messages: [
        {
            headingText: "Cookies on " + serviceName,
            html: html,
            actions: [
                {
                    text: "Accept analytics cookies",
                    type: "button",
                    classes: "js-cookies-button-accept"
                },
                {
                    text: "Reject analytics cookies",
                    type: "button",
                    classes: "js-cookies-button-reject"
                },
                {
                    text: "View cookie preferences",
                    href: "cookies"
                }
            ],
            classes: "js-question-banner"
        },
        {
            html: acceptHtml,
            role: "alert",
            actions: [
                {
                    text: "Hide cookie message",
                    type: "button",
                    classes: "js-hide"
                }
            ],
            classes: "js-cookies-accepted",
            hidden: true
        },
        {
            html: rejectHtml,
            role: "alert",
            actions: [
                {
                    text: "Hide cookie message",
                    type: "button",
                    classes: "js-hide"
                }
            ],
            classes: "js-cookies-rejected",
            hidden: true
        }
    ]
    }) }}



  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
        <h1 class="govuk-heading-xl">
          {% if serviceName %} {{ serviceName }} {% endif %}
        </h1>

        <p>Use this service to submit both a mandatory occurrence notice and a mandatory occurrence report to the Building Safety Regulator.</p>

        <p>You must submit a mandatory occurrence notice and report for any safety occurrences related to fire spread, fire safety or structural failure that:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>have caused death or serious injury to a significant number of people</li>
          <li>could cause death or serious injury to a significant number of people</li>
        </ul>

        <p>These safety occurrences include:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>an incident that has happened</li>
          <li>a situation that has the potential to cause an incident in the future</li>
        </ul>

        <p>You must do this even if the incident or situation is remedied immediately.</p>

        <p><a href="https://www.gov.uk/guidance/reporting-a-mandatory-occurrence">Read detailed guidance on safety occurrences that must be reported to the Building Safety Regulator.</a></p>

        <h2 class="govuk-heading-m">Who must submit a mandatory notice and report</h2>

        <p>Submit a mandatory occurrence notice and report if you are, or are acting for:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>an accountable person or principal accountable person and the building is occupied</li>
          <li>principal contractor or principal designer and construction work has started on the building</li>
        </ul>

        <h2 class="govuk-heading-m">Mandatory occurrence notice</h2>

        <p>You must submit a mandatory occurrence notice as soon as you can when a safety occurrence is identified, and before you submit your report.</p>

        <p>We will ask you for:</p> 

        <ul class="govuk-list govuk-list--bullet">
          <li>your contact details</li>
          <li>the address of the building where the incident or situation has been identified</li>
          <li>the date the incident or situation was identified</li>
          <li>to describe briefly the incident or situation</li>
          <li>to tell us any immediate actions you’ve taken since to keep people safe</li>
        </ul>

        <p>When you submit a mandatory occurrence notice, we will give you a reference number you can use to submit a mandatory occurrence report.</p>

        <h2 class="govuk-heading-m">Mandatory occurrence report</h2>

        <p>You must submit a mandatory occurrence report after submitting your notice and within 10 calendar days of identifying the safety occurrence.</p>

        <p>We will ask you for:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>your mandatory occurrence notice reference number</li>
          <li>the building registration application reference or address if the building is occupied</li>
          <li>the building control application reference number if the building is in design or construction and construction work has started</li>
          <li>your contact details, the name of your organisation and their involvement in the building</li>
          <li>the incident or situation you are reporting and when and how you became aware of it</li>
          <li>what happened, or has the potential of happening</li>
          <li>who is involved and the effect on them</li>
          <li>what you have done and plan to do to keep people safe</li>
          <li>for any supporting information, such as documents, videos or photos</li>
        </ul>

        <h2 class="govuk-heading-m">Get help using this service</h2>

        <p>If you cannot use the online service, call the Building Safety Regulator on 0300 790 6787.  The Building Safety Regulator is open Monday to Friday from 8.30am to 5pm, except Wednesdays when we are open from 10am to 5pm.</p>

        <p>A translation service is available if you would prefer to speak in a language other than English.</p>

        {{ govukButton({
          text: "Start now",
          isStartButton: true
        }) }}

      </form>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}

  <script>
    var acceptButton = document.querySelector('.js-cookies-button-accept')
    var rejectButton = document.querySelector('.js-cookies-button-reject')

    var acceptedBanner = document.querySelector('.js-cookies-accepted')
    var rejectedBanner = document.querySelector('.js-cookies-rejected')
    var questionBanner = document.querySelector('.js-question-banner')
    var cookieBanner = document.querySelector('.js-cookies-banner')

    function showBanner(banner) {
        questionBanner.setAttribute('hidden', 'hidden')
        banner.removeAttribute('hidden')

        // Shift focus to the banner
        banner.setAttribute('tabindex', '-1')
        banner.focus()

        banner.addEventListener('blur', function () {
            banner.removeAttribute('tabindex')
        })
    }

    acceptButton.addEventListener('click', function (event) {
        showBanner(acceptedBanner)
        event.preventDefault()
    })

    rejectButton.addEventListener('click', function (event) {
        showBanner(rejectedBanner)
        event.preventDefault()
    })

    acceptedBanner.querySelector('.js-hide').addEventListener('click', function() {
      cookieBanner.setAttribute('hidden', 'hidden')
    })

    rejectedBanner.querySelector('.js-hide').addEventListener('click', function() {
      cookieBanner.setAttribute('hidden', 'hidden')
    })
  </script>

{% endblock %}