{% extends "layouts/main.html" %}
{% set title = "Enter the building registration application number" %}
{% set serviceName = "Contact the Building Safety Regulator" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">
        {{ govukInput({
          label: {
            text: title,
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "This is the number you will have been given whern you registered the building with BSR"
          },
          id: "building-reg-number",
          name: "building-reg-number",
          classes: "govuk-input--width-20",
          value: data['building-reg-number']
        }) }}

        <p><a href="/sprint-5/about-the-building/postcode-lookup">I need to do this another way</a></p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
