{% extends "layouts/main.html" %}
{% set title = "Building address" %}
{% set serviceName = "Contact the Building Safety Regulator" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">
        
        {% call govukFieldset({
          legend: {
            text: title,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}
          {{ govukInput({
            label: {
              text: 'Postcode'
            },
            hint: {
              text: "If you know the post code of the building, type it here and select the address from the choices."
            },
            id: "address-line-1",
            name: "address-line-1",
            autocomplete: "address-line1",
            classes: "govuk-input--width-20"
          }) }}

        {% endcall %}

        <p><a href="/sprint-5/about-the-building/which-region">Enter address manually</a></p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
