{% extends "layouts/main.html" %}
{% set title = "In which part of the UK is the building?" %}
{% set serviceName = "Notify BSR of a mandatory occurrence" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">
        <span class="govuk-caption-l">About the building</span>
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "building-region",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "We need to know this as the Building Safety Regulator does not operate in all parts of the UK."
          },
          items: [
            {
              value: "england",
              text: "England"
            },
            {
              value: "scotland",
              text: "Scotland"
            },
            {
              value: "wales",
              text: "Wales"
            },
            {
              value: "northern-ireland",
              text: "Northern Ireland"
            },
            {
              value: "jersey",
              text: "Jersey, Guernsey, the Isle of Man or Gibraltar"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
