{% extends "layouts/main.html" %}
{% set title = "Summary of your supporting information" %}
{% set serviceName = "Notify BSR of a mandatory occurrence" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<style>
  .govuk-summary-list__key {
    font-weight: 400
  }
</style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">About the occurrence</span>
      <h1 class="govuk-heading-xl">{{title}}</h1>
      
      <dl class="govuk-summary-list">
      {% for file in data['filesUploaded'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{ file }}
            </dt>
            <!--
              <dd class="govuk-summary-list__value">
              Sarah Philips
            </dd>
            -->
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Remove<span class="govuk-visually-hidden"> {{ file }}</span>
              </a>
            </dd>
          </div> 
        
      {% else %}
        {{ govukInsetText({
          text: "You have not uploaded any supporting information"
        }) }}
      {% endfor %}
      </dl>

      <p><a href="/private-sprint-6/supporting-information/upload-supporting-info">Add more supporting information</a></p>

      <form action="" method="post" novalidate>


        {{ govukButton({
          text: "Continue"
        }) }}



      </form>

    </div>
  </div>

{% endblock %}
