{% extends "layouts/main.html" %}
{% set title = "Accessibility statement for " + serviceName %}
{% set serviceName = "Tell the Building Safety Regulator about a mandatory occurrence" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      <p>This service is part of the wider Health and Safety Executive (HSE) website. There’s a separate <a href="https://www.hse.gov.uk/accessibility.htm" tabindex="0" role="link" class="govuk-link">accessibility statement for the main HSE website</a>.</p>
  
      <p>This statement only applies to the {{serviceName}}, available at [link to the service].</p>
  
      <h2 class="govuk-heading-m">Using this service</h2>
  
      <p>This service is run by the Health and Safety Executive as Building Safety Regulator for England. We want as many people as possible to be able to use this service. For example, that means you should be able to:</p>
    
      <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts</li>
        <li>zoom in up to 300% without the text spilling off the screen</li>
        <li>get from the start of the service to the end using just a keyboard</li>
        <li>get from the start of the service to the end using speech recognition software</li>
        <li>listen to the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
      </ul>
      
      <p>We’ve also made the text in the service as simple as possible to understand.</p>
      
      <p><a href="https://mcmw.abilitynet.org.uk/" tabindex="0" role="link" class="govuk-link">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>
        
      <h2 class="govuk-heading-m">How accessible this service is</h2>
        
      <p>This service is fully compliant with the <a href="https://www.w3.org/TR/WCAG21/" role="link" tabindex="0" class="govuk-link">Web Content Accessibility Guidelines version 2.1 AA standard</a>.</p>
          
      <h2 class="govuk-heading-m">Feedback and contact information</h2>
          
      <p>If you have difficulty using this service, <a href="https://www.hse.gov.uk/contact/tell-us-about-a-health-and-safety-issue.htm" tabindex="0" role="link" class="govuk-link">contact us</a>.</p>
            
      <p>As part of providing this service, we may need to send you messages or documents. We’ll ask you how you want us to send messages or documents to you, but contact us if you need them in a different format. For example large print, audio recording or braille.</p>
              
      <h2 class="govuk-heading-m">Reporting accessibility problems with this service</h2>
              
      <p>We’re always looking to improve the accessibility of this service. If you find any problems that are not listed on this page or think we’re not meeting accessibility requirements, <a href="https://www.hse.gov.uk/contact/tell-us-about-a-health-and-safety-issue.htm" tabindex="0" role="link" class="govuk-link">contact us</a>.</p>
                
      <h2 class="govuk-heading-m">Enforcement procedure</h2>
                
      <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/" tabindex="0" role="link" class="govuk-link">contact the Equality Advisory and Support Service (EASS)</a>.</p>
                  
      <h2 class="govuk-heading-m">Technical information about this service’s accessibility</h2>
                  
      <p>The Building Safety Regulator is committed to making this service accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
                    
      <h2 class="govuk-heading-s">Compliance status</h2>
                    
      <p>This service is fully compliant with the <a href="https://www.w3.org/TR/WCAG21/" tabindex="0" role="link" class="govuk-link">Web Content Accessibility Guidelines version 2.1 AA standard</a>.</p>
                      
      <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
                      
      <p>This statement was prepared on [add audit review date]. It was last reviewed on [add last audit review date].</p>
                        
      <p>This website was last tested on [add last audit review date]. The test was carried out by [add audit provider].</p>

    </div>
  </div>
{% endblock %}
