{% extends "layouts/main.html" %}

{% block header %}
<div class="email-heading"><p class="govuk-heading-m">Email template</p></div>
{% endblock %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style>
body.govuk-template__body {
  background-color: lightgrey;
}

.email-heading {
  height: 70px;
  background-color: black;
  width: 1040px;
  margin: auto;
}

.email-heading p {
  color: white;
  padding: 20px 40px 20px 40px;
  
}

.govuk-width-container {
  //max-width: 800px;
  background-color: white;
  padding: 0 40px 40px 40px;
}
  
</style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Mandatory occurrence report - more information required</h1>

      <p>We need more information to support your mandatory occurrence report (MOR).</p>

      <h2 class="govuk-heading-m">Reference number</h2>

      <p>HDJ2123F</p>

      <p>Specifically, we need [details of the original specification of the faulty fire doors from the building plans].</p>

      <p>You can provide this information by replying to this email. Attach any supporting information, such as documents and photographs, to your reply.</p>

      <p>If you cannot provide this information directly, please let us know who we should approach.</p>

      <p>If you cannot reply to this email, you can call me on 0300 790 6787 quoting your reference number.</p>

      <p>BSR is open Monday to Friday from 8.30am to 5pm, except Wednesdays when we are open from 10am to 5pm.</p>

      <p>Ben Walker, BSR investigator</p>

    </div>
  </div>

{% endblock %}

{% block footer %}
{% endblock %}