{% extends "layouts/main.html" %}

{% block header %}
<div class="email-heading"><p class="govuk-heading-m">Email template</p></div>
{% endblock %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style>
body.govuk-template__body {
  background-color: lightgrey;
}

.email-heading {
  height: 70px;
  background-color: black;
  width: 1040px;
  margin: auto;
}

.email-heading p {
  color: white;
  padding: 20px 40px 20px 40px;
  
}

.govuk-width-container {
  //max-width: 800px;
  background-color: white;
  padding: 0 40px 40px 40px;
}
  
</style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      <h1 class="govuk-heading-l">Mandatory occurrence report - enforcement action</h1>
 
      <p>Our multidisciplinary team of investigators has investigated your mandatory occurrence report (MOR) about [the risk of spread of fire due to faulty fire doors at the entrance to the south staircase on floors 3, 4 and 5] at [building address / identifier].</p>

      <p>We will take enforcement action under our powers as the Building Safety Regulator.</p>

      <h2 class="govuk-heading-m">Reference number</h2>

      <p>HDJ2123F</p>

      <p>The enforcement actions we will be taking are:</p>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>enforcement action 1</li>
        <li>enforcement action 2</li>
        <li>enforcement action n</li>
      </ul>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>[the accountable person] is responsible for carrying out these actions. They must</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>implement these actions within 21 working days</li>
        <li>Provide us, within 21 working days, evidence, such as documents and photographs, that they have carried out these actions.</li>
      </ul>
 
      <p>[the accountable person] may appeal against these actions. I will email you if they appeal.</p>

      <p>If [the accountable person] does not appeal, I will email you again when the enforcement actions have been completed.</p>

      <p>Meanwhile, if you need to contact me about your MOR, you can reply to this email, or call me on 0300 790 6787 quoting your reference number.</p>

      <p>BSR is open Monday to Friday from 8.30am to 5pm, except Wednesdays when we are open from 10am to 5pm.</p>

      <p>Ben Walker, BSR investigator</p>

    </div>
  </div>

{% endblock %}

{% block footer %}
{% endblock %}