{% extends "layouts/main.html" %}
{% set title = "Check your answers" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">{{title}}</h1>
      <p>Review the information you want to send us</p>

      {% if data['request-about-what'] == 'building'  %}
      <h2 class="govuk-heading-m">About the building</h2>
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Building region"
            },
            value: {
              html: (data['building-region'] | capitalize) or "England"
            },
            actions: {
              items: [
                {
                  href: "about-the-building/which-region",
                  text: "Change",
                  visuallyHiddenText: "home address"
                }
              ]
            }
          } if data['building-region'],
          {
            key: {
              text: "Building address"
            },
            value: {
              html: "<p>Whitehall 2<br>Leeds, LS1</p>"
            },
            actions: {
              items: [
                {
                  href: "about-the-building/postcode-lookup",
                  text: "Change",
                  visuallyHiddenText: "home address"
                }
              ]
            }
          },
          {
            key: {
              text: "Building occupied?"
            },
            value: {
              text: (data['building-status'] | capitalize) or "Yes"
            },
            actions: {
              items: [
                {
                  href: "about-the-building/is-the-building-occupied",
                  text: "Change",
                  visuallyHiddenText: "licence period"
                }
              ]
            }
          },        
          {
            key: {
              text: "Number of floors"
            },
            value: {
              text: (data['number-floors'] | capitalize) or "9"
            },
            actions: {
              items: [
                {
                  href: "building-in-scope/prof-number-of-floors",
                  text: "Change",
                  visuallyHiddenText: "licence period"
                }
              ]
            }
          },
          {
            key: {
              text: "Building height"
            },
            value: {
              text: (data['building-height'] | capitalize) or "20m"
            },
            actions: {
              items: [
                {
                  href: "building-in-scope/prof-height-of-building",
                  text: "Change",
                  visuallyHiddenText: "licence period"
                }
              ]
            }
          },
          {
            key: {
              text: "Number of units"
            },
            value: {
              text: (data['number-units'] | capitalize) or "85"
            },
            actions: {
              items: [
                {
                  href: "building-in-scope/prof-number-of-units",
                  text: "Change",
                  visuallyHiddenText: "licence period"
                }
              ]
            }
          }
        ]
      }) }}
      {% endif %}

      <h2 class="govuk-heading-m">About you</h2>
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Your name"
            },
            value: {
              text: (data['contact-first-name'] or "John") + " " + (data['contact-last-name'] or "Smith")
            },
            actions: {
              items: [
                {
                  href: "about-the-person/enter-your-name",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Contact details"
            },
            value: {
              html: (data['contact-email'] or "john@test.com") + "<br>" + (data['contact-number'] or "012345678")
            },
            actions: {
              items: [
                {
                  href: "about-the-person/enter-your-contact-details",
                  text: "Change",
                  visuallyHiddenText: "contact details"
                }
              ]
            }
          }
        ]
      }) }}
     

      {% set detailsHTML %}
        {{ govukDetails({
          summaryText: "View supporting information",
          html: "file1234.png<br>photo-2022-10-10:20:40:10"
        }) }}
      {% endset %}

      <h2 class="govuk-heading-m">About the occurrence</h2>
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "In what capacity are you making a MOR?"
            },
            value: {
              text: data['mor-submitter-role']
            },
            actions: {
              items: [
                {
                  href: "about-occurrence/reporter-relationship",
                  text: "Change",
                  visuallyHiddenText: "licence period"
                }
              ]
            }
          },
          {
            key: {
              text: "Occurrence type"
            },
            value: {
              text: data['occurrence-type']
            },
            actions: {
              items: [
                {
                  href: "about-occurrence/occurrence-type",
                  text: "Change",
                  visuallyHiddenText: "licence period"
                }
              ]
            }
          },
          {
            key: {
              text: "Occurrence date"
            },
            value: {
              text: (data['occurrence-date-day'] or "10") + " " + (data['occurrence-date-month'] or "05") + " " + (data['occurrence-date-year' or "2022")]
            },
            actions: {
              items: [
                {
                  href: "about-occurrence/occurrence-date",
                  text: "Change",
                  visuallyHiddenText: "licence period"
                }
              ]
            }
          },
          {
            key: {
              text: "Occurrence reporter"
            },
            value: {
              html: (data['reporter-first-name'] or "Jane") + " " + (data['reporter-last-name'] or "Wilson") + "<br>" + (data['reporter-email'] or "jane@test.com")  + "<br>" + (data['reporter-relationship'] or "Visitor")
            },
            actions: {
              items: [
                {
                  href: "about-occurrence/occurrence-reporter",
                  text: "Change",
                  visuallyHiddenText: "licence period"
                }
              ]
            }
          },
          {
            key: {
              text: "Occurrence details"
            },
            value: {
              text: data['occurrence-details'] or "Details of the occurrence"
            },
            actions: {
              items: [
                {
                  href: "about-occurrence/occurrence-details",
                  text: "Change",
                  visuallyHiddenText: "licence period"
                }
              ]
            }
          },
          {
            key: {
              text: "Supporting information"
            },
            value: {
              html: detailsHTML
            },
            actions: {
              items: [
                {
                  href: "supporting-information/review-uploads",
                  text: "Change",
                  visuallyHiddenText: "supporting information"
                }
              ]
            }
          }
        ]
      }) }}
   

      <form action="" method="post">
        <input type="hidden" name="answers-checked" value="true">
        {{ govukButton({
          text: "Accept and send"
        }) }}
      </form>
   
    </div>
  </div>

{% endblock %}
