{% extends "layouts/main.html" %}
{% set title = "Mandatory occurrence notice received" %}
{% set serviceName = "Submit a mandatory occurrence notice and report" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">{{title}}</h1>
        <div class="govuk-panel__body">
          Reference number<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <p>We have sent you a confirmation email that includes your reference number.</p>
      
      <p>You must submit a full mandatory occurrence report within 10 days of the occurrence being identified. Use your mandatory occurrence notice reference number.</p>

      <h2 class="govuk-heading-m">What you told us has happened</h2>
      <p>{{ data['occurrence-summary'] or "A fire has spread through 5 units and there are multiple serious injuries." }}</p>

      <h2 class="govuk-heading-m">What mitigating actions you have taken so far</h2>
      <p>{{ data['occurrence-summary'] or "A fire has spread through 5 units and there are multiple serious injuries." }}</p>
      <p><a href="">Print this page</a></p>

    </div>
  </div>
{% endblock %}
