{% extends "layouts/main.html" %}
{% set title = "Mandatory occurrence report received" %}
{% set serviceName = "Submit a mandatory occurrence notice and report" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">{{title}}</h1>
        <div class="govuk-panel__body">
          Reference number<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <p>We have sent you a confirmation email that includes your reference number and a copy of your submission.</p>

      <p>We will review your mandatory occurrence report and then contact you. This may take up to 21 working days.</p>

      <h2 class="govuk-heading-m">What you told us</h2>
      <h3 class="govuk-label govuk-label--s">{{ "What is the risk?" if data['risk-event'] == "risk" else "What happened?" }}</h3>
      <p>{{ data['occurrence-details-what'] or "A fire has spread through 5 units and there are multiple serious injuries." }}</p>

      <h3 class="govuk-label govuk-label--s">What caused it?</h3>
      <p>{{ data['occurrence-details-why'] or "Several incorrectly fitted fire doors" }}</p>

      <h3 class="govuk-label govuk-label--s">{{ "Who could be affected and in what way?" if data['risk-event'] == "risk" else "Who has been affected and in what way?" }}</h3>
      <p>{{ data['occurrence-details-who'] or "All residents on the fourth floor" }}</p>

      <h3 class="govuk-label govuk-label--s">What are you doing or planning to do to keep people safe?</h3>
      <p>{{ data['occurrence-details-action'] or "We moved all residents to a hotel and replaced all faulty fire doors" }}</p>

      <h3 class="govuk-label govuk-label--s">{{ "How was the " + data['risk-event'] + " discovered?" }}</h3>
      <p>{{ data['occurrence-details-reporter'] or "A fire created by a resident in a communal area set off the sprinkler system" }}</p>
      <p><a href="" onclick="window.print();" class="govuk-!-display-none-print">Print this page</a></p>
      
    </div>
  </div>
{% endblock %}

          




      