{% extends "layouts/main.html" %}
{% set title = "Check your answers" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{title}}</h1>
      <p>Review the information you want to send us</p>

      <h2 class="govuk-heading-m">About the enqiry</h2>
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Enquiry about"
            },
            value: {
              text: data['enquiry-about'] | capitalize
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "previous application number"
                }
              ]
            }
          },
          {
            key: {
              text: "Description of your concern about the building?"
            },
            value: {
              text: data['enquiry-description']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "licence type"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">About the building</h2>
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Building region"
            },
            value: {
              html: data['building-region'] | capitalize
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "home address"
                }
              ]
            }
          },
          {
            key: {
              text: "Building address"
            },
            value: {
              html: data['address-line-1'] + "<br>" + data['address-line-2'] + "<br>" + data['address-town'] + "<br>" + data['address-county'] + "<br>" + data['address-postcode']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "home address"
                }
              ]
            }
          } if data['address-known'] == 'yes',
          {
            key: {
              text: "Is the building occupied"
            },
            value: {
              text: data['building-status'] | capitalize
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "licence period"
                }
              ]
            }
          },
          {
            key: {
              text: "How big is the building"
            },
            value: {
              text: data['building-size'] | capitalize
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "licence period"
                }
              ]
            }
          },
          {
            key: {
              text: "Number of residential units are in the building"
            },
            value: {
              text: data['number-units'] | capitalize
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "licence period"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">About you</h2>
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Your name"
            },
            value: {
              text: data['contact-first-name'] + " " + data['contact-last-name']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Relationship to the building"
            },
            value: {
              text: data['building-relationship'] | capitalize
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Do you live in the building"
            },
            value: {
              text: data['building-resident'] | capitalize
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "address"
                }
              ]
            }
          },
          {
            key: {
              text: "Contact details"
            },
            value: {
              html: data['contact-email'] + "<br>" + data['contact-number']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "contact details"
                }
              ]
            }
          }
        ]
      }) }}

    {% if data['enquiry-about'] == 'mor'  %}

      <h2 class="govuk-heading-m">About the mandatory occurrence</h2>
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "In what capacity are you making a MOR?"
            },
            value: {
              text: data['mor-submitter-role'] | capitalize
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "licence period"
                }
              ]
            }
          },
          {
            key: {
              text: "Occurrence type"
            },
            value: {
              text: data['occurrence-type'] | capitalize
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "licence period"
                }
              ]
            }
          },
          {
            key: {
              text: "Occurrence date"
            },
            value: {
              text: data['occurrence-date-day'] + " " + data['occurrence-date-month'] + " " + data['occurrence-date-year']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "licence period"
                }
              ]
            }
          },
          {
            key: {
              text: "Occurrence reporter"
            },
            value: {
              html: data['reporter-first-name'] + " " + data['reporter-last-name'] + "<br>" + data['reporter-email']  + "<br>" + data['reporter-relationship']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "licence period"
                }
              ]
            }
          },
          {
            key: {
              text: "Occurrence details"
            },
            value: {
              text: data['occurrence-details']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "licence period"
                }
              ]
            }
          }
        ]
      }) }}


    {% endif %}

    {% if data['enquiry-about'] == 'complaint'  %}

      <h2 class="govuk-heading-m">About the PAP/AP</h2>
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Have you contacted someone accountable for the building about this issue before?"
            },
            value: {
              text: data['contacted-ap'] | capitalize
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "licence period"
                }
              ]
            }
          },
          {
            key: {
              text: "Accountable Details"
            },
            value: {
              html: data['ap-name'] + "<br>" + data['ap-email'] + "<br>" + data['ap-phone'] + "<br>" + data['ap-address']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "licence period"
                }
              ]
            }
          } if data['contacted-ap'] == 'yes',
          {
            key: {
              text: "Accountable relationship"
            },
            value: {
              text: data['ap-relationship']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "licence period"
                }
              ]
            }
          } if data['contacted-ap'] == 'yes',
          {
            key: {
              text: "AP contacted date "
            },
            value: {
              html: data['ap-contacted-date-day'] + data['ap-contacted-date-month'] + data['ap-contacted-date-year']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "licence period"
                }
              ]
            }
          } if data['contacted-ap'] == 'yes',
          {
            key: {
              text: "Accountable justification"
            },
            value: {
              text: data['ap-justification']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "licence period"
                }
              ]
            }
          },
          {
            key: {
              text: "Can we share your name and contact details with the PAP/AP?"
            },
            value: {
              html: data['share-contact-with-ap'] | capitalize
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "home address"
                }
              ]
            }
          } if data['contacted-ap'] == 'yes'
        ]
      }) }}

      <h2 class="govuk-heading-m">About the evidence</h2>
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Filename"
            },
            value: {
              text: data['evidence-details']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "licence period"
                }
              ]
            }
          }
        ]
      }) }}

      {% endif %}

      <form action="" method="post">
        <input type="hidden" name="answers-checked" value="true">
        {{ govukButton({
          text: "Send"
        }) }}
      </form>
   
    </div>
  </div>

{% endblock %}
