{% extends "layouts/main.html" %}
{% set title = "Complaint received" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">{{title}}</h1>
        <div>We've received your complaint about [building address]</div>
        <div class="govuk-panel__body">
          Reference number<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <p>We have sent you a confirmation email.</p>

      <h2 class="govuk-heading-m">What you told us</h2>
      <p>{{ data['enquiry-description'] }}</p>
      <mark>Anything else to use here</mark>
      

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>Complaint received</p>
      <p>Once we have evaluated your complaint, we will tell you what action we are going to take. This may take up 21 working days.</p>
      <p>All complaints will be evaluated by BSR whether named or anonymous.</p>

      <p><a href="">Back to BSR</a></p>
      <p><a href="">Back to HSE</a></p>
    </div>
  </div>

{% endblock %}
