{% extends "layouts/main.html" %}
{% set title = "Upload supporting information" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        <h1 class="govuk-heading-l">{{title}}</h1>

        {{ govukFileUpload({
          id: "upload-evidence",
          name: "upload-evidence",
          label: {
            text: "Upload a file"
          }
        }) }}

        {{ govukInput({
          label: {
            text: "File name"
          },
          hint: {
            text: "Give each item of supporting information a file name that describes what it is about. For example, if you've uploaded a photo of faulty fire doors, name the photo 'faulty fire doors'."
          },
          id: "event-name",
          name: "event-name"
        }) }}

        {{ govukButton({
          text: "Upload"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
