{% extends "layouts/main.html" %}
{% set title = "Your contact details" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">
        {% call govukFieldset({
          legend: {
            text: title,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
          
        }) %}
        <p>We need your contact details so we can tell you what we are doing about your complaint. We'll ask you later in this service if you don't want us to share your details with anyone else, such as the building's landlord or management company.</p>
          {{ govukInput({
            label: {
              text: 'Contact number'
            },
            id: "contact-number",
            name: "contact-number",
            classes: "govuk-input--width-20"
          }) }}
          {{ govukInput({
            label: {
              text: 'Contact email'
            },
            id: "contact-email",
            name: "contact-email",
            classes: "govuk-input--width-20"
          }) }}
        {% endcall %}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
