{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "/manage-prototype/clear-data",
            text: "Clear data"
          },
          {
            href: "https://contact-bsr.herokuapp.com/sprint-9/start-advice",
            text: "Contact the Building Safety Regulator"
          },
          {
            href: "privacy",
            text: "Privacy"
          },
          {
            href: "accessibility",
            text: "Accessiblility"
          },
          {
            href: "cookies",
            text: "Cookies"
          },
          {
            href: "terms-and-conditions",
            text: "Terms and conditions"
          }
        ]
      }
    }) }}
{% endblock %}